
// ---------- 主要內容寬度設定 ----------- //
%mainWidth {
  width: $mobileWidth; margin: 0 auto;
  @media screen and (min-width: $wwNormal){
    width: $normalWidth;
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.82;
  }
}
// ---------- 主要內容寬度設定 ----------- //


// ---------- 顏色變數 ----------- //
$primaryColor:#2a90d1;
$secondaryColor: #081c36;
$assistant1: #00b6d1;
$notice: #d00;
$white: #fff;
$black: #000;

$fontColor: #081c36;
$fontColorLight: #666;
$fontColorPale: #999;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: #045688;
$mainBg: #fff;

$borderColor: #c1c4c6;
$borderColorLight: #d2d2d2;
$borderColorDark:#434242;
$shadow:rgba(0, 0, 0, 0.2);
$shadow2:rgba(0, 0, 0, 0.5);

$gray: #d3d5d6;
$grayLight: #f1f0ed;
$grayDark: #424344;

$btnBg1: $primaryColor;
$btnBg2: darken($primaryColor, 12%);

$footGcBg: $secondaryColor;
$sidebarBg: #6a5f46;

// ---------- 顏色變數 ----------- //

// ---------- 漸層 ----------- //
%grandient{
  background-image: linear-gradient(90deg ,#2a90d1, #00b6d1);
}
%grandientV{
  background-image: linear-gradient(0deg,#2a90d1, #00b6d1);
}