// 跳至內容區 ----------------------------------------------
a.goCenter{
  display: none;
  @media screen and (min-width: $wwNormal){
    display: block; position: absolute; top: -2em; left: 0; z-index: 999;
    padding: 0 1em; margin-left: 2em; border-radius: 0 0 4px 4px;
    overflow: hidden;
    font-size: .9rem; height: 1.6em; line-height: 1.6;
    background-color: #000; color: #fff;
    text-decoration: none; outline: none;  cursor: pointer;
    transition:top .3s; 
    &:focus{ top: 0;}
    &:hover, &:focus{  opacity: 1; color: $fontInvert;}
  }
  @media screen and (min-width: $wwMaximum){
    left: calc(50vw  - $wwMaximum*.5);
  }
}


// 行動版時的【側欄開關】和【查詢開關】------------------------------
.sidebarCtrl, .searchCtrl {

  --sCtrlHoverBg : #fff9;
  --iconColor : #000;

  // ------------------------------ //
  
  width: 48px; height: 48px;
  cursor: pointer;
  background: none; border: none; border-radius: 0;
  transition: .2s;
  &:hover, &:focus{
    background-color: var(--sCtrlHoverBg);
  }
  &:focus{
    box-shadow: var(--sCtrlHoverBg) 0 0 0 4px;
  }

}

// 側欄開關（行動版）------------------------------
.sidebarCtrl{
  &::before,  &::after{ 
    content: ''; position: absolute;  width: 24px; height: 2px;
    top: calc(50% - 1px); left: 12px; 
    background-color: var(--iconColor);
    outline: none;
    transition: .2s;
  }
  &::before{
    box-shadow: var(--iconColor) 0 8px 0, var(--iconColor) 0 -8px 0;
  }
  &::after{ opacity: 0;}

  &.closeIt{
    &::before{box-shadow: none;
      transform: rotate(45deg);
    }
    &::after{
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}


// 查詢開關（行動版） ------------------------------
.searchCtrl{
  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    top: calc(50% - 15px); left: calc(50% - 15px);
    width: 24px; height: 24px; border-radius: 50%;
    border: 2px solid var(--iconColor);
  }
  &::after{
    top: calc(50% + 7px); left: calc(50% + 3px);
    width: 12px; height: 4px; border-radius:0 2px 2px 0;
    transform: rotate(45deg);
    background-color: var(--iconColor);
    transition: .2s;
  }
}


.sidebarMask{
  z-index: 900;
  position: fixed; left: 0;top: 0;right: 0;bottom: 0;
  background-color: rgba(0,0,0,.6);
  display: none;

}


// fat footer 開關 ------------------------------
.fatFootCtrl{
  border: none; outline: none; background: #666;
  width: 40px;height: 40px;
  text-indent: -20em; overflow: hidden;
  position: absolute; top: 0; left: calc(50% - 20px);
  transition: .2s;

  &::before{
    content: ''; position: absolute; top: 17px; left: 14px;
    width: 12px; height: 12px; transform: rotate(225deg);
    border: 3px solid #fff; border-top: none; border-left: none;
    transition: .3s;
  }

  &:hover, &:focus { background: #000;}
  &:focus{box-shadow:#aaa 0 0 0 1px inset, #000 0 0 0 3px;}

  &.closed {
    &::before{ transform: rotate(45deg); top: 12px;}
  }

}


// 回頁面頂端 ------------------------------
.goTop{
  position: fixed; bottom: -60px; right: 5px;
  width: 50px; height: 50px; 

  &.show{bottom: 10px; }
  
  text-indent: -20em;overflow: hidden;
  border-radius: 50%;border: none; background: #555a;
  transition: bottom .6s, box-shadow .2s;
  &::before, &::after {
    content: ''; position: absolute;
  }
  &::before {
    box-sizing: content-box; top: 14px; left: calc(50% - 11px);
    width: 0; height: 0;
    border-style:solid; border-width: 0 11px 9px 11px; border-color: transparent transparent white transparent;
  }
  &::after{
    width: 10px; height: 6px; top: 50%; left: calc(50% - 5px);
    background-color: white;
    // box-shadow: rgba(#fff, .6) 0 5px, rgba(#fff, .3) 0 10px;
    transition: .2s;
  }

  &:hover, &:focus{
    background-color: #b00 ;
  }
  &:focus{box-shadow:#b00 0 0 0 2px;}

  @media screen and (min-width: calc($wwMaximum + 70px)){
    right: calc(50% - $wwMaximum*.5 - 30px);
    // right: 50%;
  }

}