// 變數
// ---------- RWD 斷點 ---------- //
$wwSlim: 420px;
$wwMedium:800px;
$wwNormal: 1000px;
$wwMaximum: 1360px;
// ---------- RWD 斷點 ----------- //

// ---------- 長度常數 ---------- //
$sideBarWidth: 280px;  // 窄版側欄選單
$mobileWidth: 92vw; // 窄螢幕寬度 moduals width in mobile
$normalWidth: 82vw; // 寬螢幕寬度
$mobileHeaderHeight: 64px; // 行動版 header 高度
// ---------- 長度常數 ---------- //

$sidebarBg: #0009;

// 全域變數
$globalPadding: 30px;


body{
  font-family: Helvetica, Arial, "微軟正黑體", sans-serif;
  margin: 0; padding: 0;
  &.noScroll{
    overflow: hidden; overflow-y:hidden;
  }
  
  *{ box-sizing: border-box;
    &::before, &::after {box-sizing: border-box;}
  }
}

.main{
  margin: 0 auto;
  box-shadow: rgba(0,0,0,.3) 0 0 1px;
  padding: 1px 0 0;
}

// accesskey
.accesskey{ 
  display: none; text-decoration: none; outline: none;
  @media screen and (min-width: $wwNormal){
    display: block; position: absolute;
    width: 1.2em; text-align: center;
    &:focus{
      outline: 1px solid #000;
    }

  }
}
@media screen and (min-width: $wwNormal){
  .footer .accesskey{top: 4px;}
}
@media screen and (min-width: $wwMaximum ){
  .header .accesskey,
  .main .accesskey,
  .footer .accesskey {left: calc( 50% - $wwMaximum*.5 );}
}
// --------


.blockHeader{
  margin: 0 auto; text-align: center;
}


////////////////////////////////////////////////////////////////

// form 元件
input{
  &[type="button"], &[type="submit"], &[type="reset"],
  &[type="radio"], &[type="checkbox"] { 
    cursor: pointer; outline: none;
  }
}
button{ cursor: pointer;outline: none; }