// 行動版時的【側欄開關】和【查詢開關】


.sidebarCtrl, .searchCtrl {

  --sCtrlHoverBg : #ddd;
  --iconColore : #000;

  // ------------------------------ //
  
  width: 48px; height: 48px;
  cursor: pointer;
  background: none; border: none; border-radius: 0;
  transition: .2s;
  &:hover, &:focus{
    background-color: var(--sCtrlHoverBg);
  }
  &:focus{
    box-shadow: var(--sCtrlHoverBg) 0 0 0 4px;
  }

}

//側欄開關
.sidebarCtrl{
  &::before,  &::after{ 
    content: ''; position: absolute;  width: 24px; height: 2px;
    top: calc(50% - 1px); left: 12px; 
    background-color: var(--iconColore);
    outline: none;
    transition: .2s;
  }
  &::before{
    box-shadow: var(--iconColore) 0 8px 0, var(--iconColore) 0 -8px 0;
  }
  &::after{ opacity: 0;}

  &.closeIt{
    &::before{box-shadow: none;
      transform: rotate(45deg);
    }
    &::after{
      opacity: 1;
      transform: rotate(-45deg);
    }
  }


}


//查詢開關
.searchCtrl{
  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    top: calc(50% - 15px); left: calc(50% - 15px);
    width: 20px; height: 20px; border-radius: 50%;
    border: 2px solid var(--iconColore);
  }
  &::after{
    top: calc(50% + 7px); left: calc(50% + 3px);
    width: 12px; height: 4px; border-radius:0 2px 2px 0;
    transform: rotate(45deg);
    background-color: var(--iconColore);
    transition: .2s;
  }
}