// 網站全域版頭 //
.header{
  position: relative; overflow: hidden;
  height: $mobileHeaderHeight;

  background-color: white;
  box-shadow: gray 0 1px 0;

  // ---- var ----
  --mhr: 30px;
  // ---- var ----

  h1{
    margin: 0 auto; padding: 0; text-align: center;
    width: calc(100% - 120px); height: auto;
    font-size: 1.5rem; line-height: 1;
    a {
      display: block;
      height: $mobileHeaderHeight; line-height: $mobileHeaderHeight;
    }
  }

  .topNav {display: none;}



  .menu{ display: none;}


  // 側欄開關和查詢開關
  .sidebarCtrl, .searchCtrl {
    position: absolute; top: 50%;
    transform: translateY(-50%);
  }
  .sidebarCtrl{ left: 8px; }
  .searchCtrl { right: 8px; }

  @media screen and (min-width: $wwNormal){
    .sidebarCtrl, .searchCtrl {display: none;}
    .menu{ display: block;}




    height: auto; overflow: visible;
    background-color: #ddb;

    h1{
      margin-left: var(--mhr);
      width: 50%; text-align: left;
      font-size: 2rem;
      border: 1px dashed #fff;
      a {
        display: block;height: 160px;
      }
    }
    .topNav {
      display: block;
      position: absolute; top: 0; right: var(--mhr);
      padding:8px 0 4px; 

      border: 1px dashed #fff; // 刪掉

      ul {
        list-style: none; margin: 0;padding: 0;
        display: flex; flex-flow: row wrap;
        li{
          flex: 1 1 auto; margin: 0 0 0 1.5em;
          &>a{
            display: block; position: relative;
            height: 1.6em; line-height: 1.5; 
            text-decoration: none; outline: none;
            &::after{
              content: ''; position: absolute; left: 50%; bottom: 0;
              height: 3px; width: 0;
              transition: .2s;
              background-color: #000;
            }
            &:hover, &:focus{
              &::after{ width: 100%; left: 0;}
            }
          }
        }
      }
    }

    .search{ right: var(--mhr); border: 1px dashed #fff;}


    
  }

  @media screen and ( min-width: calc( $wwMaximum + 60px ) ){
    // 60px =  var(--mhr)*2

    h1{
      margin-left: calc(50vw - $wwMaximum/2);
      width: calc($wwMaximum/2);
    }

    .topNav, .search{
      right: calc(50vw - $wwMaximum*.5);
    }





  }

}







