// 網站全域版頭 //
.header{
  z-index: 990;
  position: relative; overflow: hidden;
  height: $mobileHeaderHeight;
  
  background-color: #ddd;
  transition: .2s;;
  
  &.fixed{
    position: fixed; top: 0; left: 0; right: 0;
  }


  h1{
    margin: 0 auto; padding: 0; text-align: center;
    width: calc(100% - 120px); height: auto;
    font-size: 1.5rem; line-height: 1;
    a {
      display: block;
      height: $mobileHeaderHeight; line-height: $mobileHeaderHeight;
    }
  }

  .topNav {display: none;}
  .menu{ display: none;}



  // 側欄開關和查詢開關
  .sidebarCtrl, .searchCtrl {
    position: absolute; top: 50%;
    transform: translateY(-50%);
  }
  .sidebarCtrl{ left: 8px; }
  .searchCtrl { right: 8px; }

  @media screen and (min-width: $wwNormal){
    .sidebarCtrl, .searchCtrl {display: none;}
    .menu{ display: block;}

    height: auto; overflow: visible;

    &.fixed{
      h1, .topNav, .search{ display: none;}
    }

    h1{
      margin: 0 0 0 $globalPadding; width: 50%;  
      font-size: 2rem;text-align: left;
      border: 1px dashed #fff;
      a {
        padding: 20px 0 0 0;
        display: block; height: 160px;line-height: 1;
      }
    }
    .topNav {
      display: block;
      position: absolute; top: 0; right: $globalPadding;
      padding:8px 0 4px; 

      border: 1px dashed #fff; // 刪掉

      ul {
        list-style: none; margin: 0;padding: 0;
        display: flex; flex-flow: row wrap;
        li{
          flex: 1 1 auto; margin: 0 0 0 1.5em;
          &>a{
            display: block; position: relative;
            height: 1.6em; line-height: 1.5; 
            text-decoration: none; outline: none;
            &::after{
              content: ''; position: absolute; left: 50%; bottom: 0;
              height: 3px; width: 0;
              transition: .2s;
              background-color: #000;
            }
            &:hover, &:focus{
              &::after{ width: 100%; left: 0;}
            }
          }
        }
      }
    }
  }

  @media screen and ( min-width: $wwMaximum ){
    h1{
      margin-left: calc(50vw - $wwMaximum/2 + $globalPadding);
      width: calc($wwMaximum/2);
    }

    .topNav {
      right: calc(50vw - $wwMaximum*.5 + $globalPadding);
    }



  }



}







