// 主選單
// 含行動版 與 寬螢幕版
.menu{
  ul{
    list-style: none; margin: 0; padding: 0; line-height: 1.4;
    li{ margin: 0; padding: 0;}
    a{
      display: block; position: relative; text-decoration: none;
      outline: none;
    }
  }
}


// 行動版
.sidebar .menu{
  &>ul{
    li{
      a{
        position: relative;
        color: black;
      }
      
      &.hasChild{
        &>a{
          padding-right: 36px;
          &::after{
            content: ''; position: absolute; right: 15px; top: 1.2em;
            width: 8px; height: 8px; border: 2px solid black;
            transform: rotate(45deg); border-left: none; border-top: none;
            transition: .2s;
          }
        }
        &.closeIt>a{
          &::after{ transform: rotate(225deg); top: 1.5em; }
        }

        &>ul{
          border-top: 1px dashed gray;
        }
      }

      // 第二層選單項目和其之後
      ul{ 
        display: none;
        li{
          border-bottom: 1px dashed gray;
          &:last-child{
            border-bottom: none;
          }
          a{
            padding: .7em .8em .6em 36px;
            &::before{
              content: ''; position: absolute; left: 1rem; top: 1.2em;
              width: 5px; height: 5px; 
              background-color: black;

              transition: .2s;
            }
            &:hover, &:focus{
              &::before{
                width: 10px;
              }
            }
          }

        }
        // 第三層和其之後
        ul{ 
          margin-left: 32px; border-top: none;
          a{ 
            padding-left: 22px;
            &::before {left: 7px; height: 1px;}
          }
        }
      }
    }


    // 第一層選單項目
    &>li{
      border-bottom: 1px solid black;
      &>a{
        position: relative;
        padding: .9em .8em .8em; transition: .2s;
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    display: none;
  }

}

//////////////////////////////////////////////////////////////////////////////////////////

// 寬螢幕版
.header .menu{
  display: none;
 
 
  @media screen and (min-width: $wwNormal){
    display: block; position: relative; z-index: 990;
    background: #333; color: #fff;
    a{ display: block;}
    li{margin: 0; padding: 0;}

    &>ul{ 
      list-style: none;margin: 0 var(--mhr);padding: 0;
      max-width: $wwMaximum;
      line-height: 1.5;

      li{position: relative;}
      // &::after{
      //   content: ''; display: block; clear: both;
      // }

      // 第一層選單項
      &>li {
        float: left;

        &>a{
          height: 3em;line-height: 3; padding: 0 1em;
          white-space: nowrap; text-overflow: ellipsis; overflow: hidden;

          color:white;
          border: 1px dashed #999;
        }

        &.hasChild{
          &>a{
            padding-right: 36px;
          }
        }

        &>ul{
          top: auto; left: 0; // 第二層選單定位
          ul{ 
            top: 0; left: 100%;// 第三層選單以及之後的選單定位
          }
        }

        // 任一層次選單
        ul{ 
          display: none;
          position: absolute;
          min-width: 180px; max-width: 12em;
          padding:1px;
          background: white;
          box-shadow: rgba(0,0,0,.3) 0 0 8px;
          &>li{
            border-bottom: 1px solid #ccc;
            &:last-child {
              border-bottom: none;
            }
            &>a{
              padding: .8em 12px .7em;
              transition: .2s;
              color: black;
              &:hover, &:focus{
                background: black; color: white;
              }
            }

            &.hasChild{
              &>a{
                padding-right: 36px;
                &::after{
                  content: ''; position: absolute; right: 10px; top: 1.15em;
                  width: 7px;height: 7px;
                  transform: rotate(45deg);
                  border: 2px solid black; border-left: none; border-bottom: none;
                }

                &:hover, &:focus{
                  &::after { border-color: white;}
                }

              }
            }
            
          }
        }
      }


      &::after{
        content: ''; display: block; clear: both;
      }

    }
  }
}

