.sidebar{
  position: fixed; bottom: 0; overflow: auto; z-index: 990;
  top: $mobileHeaderHeight; 
  width: $sideBarWidth; 
  margin-left:$sideBarWidth * (-1);
  transition: .5s;

  background: white;

  &.show{ margin-left:0; }

  @media screen and (min-width: $wwNormal){
    display: none;
  }
}