.tabset{
  --tabBg : #e0e4e5;
  --tabActiveBg : #333;
  --tabColor : #000;
  --tabActivecolor : #ebff33;
  --focused : #f35;


  
  outline: 1px dashed #c00;
  width: 70%; margin: 30px auto;
  .tabItems{
    --evenPadding: 5px;
    --posX: var(--evenPadding);
    --width : 0;
    
    display: flex;position: relative; 
    padding: var(--evenPadding); border-radius: 2em;
    background: var(--tabBg);
    &>button{
      flex: 1 1 auto;position: relative;z-index: 9;
      font-size: 1rem;
      height: 3em; line-height: 3; padding: 0 1em;
      border: none;border-radius: 2em;
      background-color: transparent; color: var(--tabColor);

      cursor: pointer; outline: none;
      
      &.active{
        color: var(--tabActivecolor);
        background-color: var(--tabActiveBg);
      }
      &:focus{
        box-shadow: var(--focused) 0 0 0 2px inset;
      }
    }

    // &::after{
    //   left: var(--posX); top: var(--evenPadding); width: var(--width);
    //   content: '';position: absolute; bottom: 0; height: 3em;
    //   background: var(--tabActiveBg); border-radius: 2em;
    //   z-index: 0; transition: .3s;
    // }
  }

  .tabContent{
    padding: 20px;
    a{
      &:focus, &:hover{ outline: 2px solid #f00;}
    }
  }

}