// .webHeader 版頭 /////////////////////////////////////////////////
.webHeader {
	position: relative;z-index: 990;margin: 0 auto;padding: 0;
	background-color: #24939e;color: #fff;
	h1 {
		margin: 0 70px;padding: 20px 0;
		text-align: center;font-size: 1.5em; line-height: 1.1;
	}
	@media screen and (min-width: 1000px) {
		h1{margin: 0 auto;}
	}
	@media screen and (min-width: 1360px) {
	}
}
