body{margin: 0;}
.main{ background-color: #f8f8e5; height: 25em; line-height: 25em; text-align: center;}


// --------------------------------------------
$wwMaximum : 1200px;
.header{
  position: relative;padding: 1.5em 0 0;background: #afda59;

  h1{
    margin: 0;width: 50%;
    border: 2px dashed #fff;
    a {
      display: block;height: 80px;color: #000;
    }
  }

  .navigation {
    position: absolute;right: 0;top: 10px;
    border: 2px dashed #fff;
  }

  .webSearch{
    position: absolute;right: 0;top: 4em;width: 20em;height: 2em;line-height: 2;
    border: 2px dashed #fff; 
  }

  .menu{
    background: #333; color: #fff;
    &>ul{ 
      list-style: none;margin: 0 auto;padding: 0;
      max-width: $wwMaximum;
      &>li {
        float: left;;margin: 0 1em;padding: 0;height: 3em;line-height: 3;
      }
      &::after{
        content: ''; display: block; clear: both;
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    h1{
      margin-left: calc(50vw - $wwMaximum/2);
      width: calc($wwMaximum/2);
    }

    .navigation, .webSearch{
      right: calc(50vw - $wwMaximum*.5);
    }

  }

}

.footer{
  .fatFooter{
    padding: 2em 0;
    background: #557f7a;color: #fff;
  
    nav{
      height: 20em;margin: 0 auto;
      max-width: $wwMaximum;
      border: 2px dashed #fff;
    }
  }
}

.goTop{
  width: 50px; height: 50px; border-radius: 50%;
  text-indent: -20em; overflow: hidden;
  margin: 0;padding: 0;border: none;
  background: #000a; 

  position: fixed; right: 10px; bottom: 10px;

  @media screen and (min-width: calc($wwMaximum + 140px)){
    right: calc(50vw - $wwMaximum*.5 - 60px);
  }
}